@layer components {
  .btn {
    @apply inline-flex
    items-center
    justify-center
    shrink-0
    h-9
    gap-1.5
    px-3
    whitespace-nowrap
    text-base
    font-semibold
    text-primary-foreground
    border
    border-transparent
    /* rounded-lg */
    bg-primary
    bg-clip-padding
    outline-none
    select-none
    transition-all
    disabled:pointer-events-none
    disabled:opacity-50
    focus-visible:border-ring
    focus-visible:ring-2
    focus-visible:ring-ring/50
    aria-invalid:border-destructive
    aria-invalid:ring-2
    aria-invalid:ring-destructive/20
    dark:aria-invalid:border-destructive/50
    dark:aria-invalid:ring-destructive/40
    has-data-[icon=inline-end]:pr-2
    has-data-[icon=inline-start]:pl-2
    [&_svg]:pointer-events-none
    [&_svg]:shrink-0
    [&_svg:not([class*='size-'])]:size-4;
  }
  .btn:hover {
    @apply bg-primary/80;
  }

  .btn--outline {
    @apply border-border
    text-foreground
    bg-surface-1
    dark:border-input
    dark:bg-input/30;
  }
  .btn--outline:hover {
    @apply text-foreground
    bg-muted
    dark:bg-input/50;
  }
  .btn--outline[aria-expanded="true"] {
    @apply text-foreground
    bg-muted;
  }

  .btn--secondary {
    @apply text-secondary-foreground
    bg-secondary;
  }
  .btn--secondary:hover {
    @apply bg-secondary/80;
  }
  .btn--secondary[aria-expanded="true"] {
    @apply text-secondary-foreground
    bg-secondary;
  }

  .btn--ghost {
    @apply text-foreground
    bg-transparent
    dark:bg-transparent;
  }
  .btn--ghost:hover {
    @apply text-foreground
    bg-muted
    dark:bg-muted/50;
  }
  .btn--ghost[aria-expanded="true"] {
    @apply text-foreground
    bg-muted;
  }

  .btn--destructive {
    @apply text-destructive
    bg-destructive/10
    dark:bg-destructive/20;
  }
  .btn--destructive:hover {
    @apply bg-destructive/20
    dark:bg-destructive/30;
  }
  .btn--destructive:focus-visible {
    @apply border-destructive/40
    ring-destructive/20
    dark:ring-destructive/40;
  }

  .btn--link {
    @apply text-primary
    bg-transparent
    underline-offset-4;
  }
  .btn--link:hover {
    @apply underline
    bg-transparent;
  }

  /* 
   * sizes 
   */
  .btn--xs {
    @apply h-6
    gap-1
    px-2
    text-sm
    /* rounded-[min(var(--radius-md),10px)] */
    in-data-[slot=button-group]:rounded-lg
    has-data-[icon=inline-end]:pr-1.5
    has-data-[icon=inline-start]:pl-1.5
    [&_svg:not([class*='size-'])]:size-3;
  }

  .btn--sm {
    @apply h-7
    gap-1
    px-2.5
    text-sm
    /* rounded-[min(var(--radius-md),12px)] */
    in-data-[slot=button-group]:rounded-lg
    has-data-[icon=inline-end]:pr-1.5
    has-data-[icon=inline-start]:pl-1.5
    [&_svg:not([class*='size-'])]:size-3.5;
  }

  .btn--lg {
    @apply h-9
    gap-1.5
    px-2.5
    has-data-[icon=inline-end]:pr-3
    has-data-[icon=inline-start]:pl-3;
  }

  /* 
   * icon modifiers 
   */
  .btn--icon {
    @apply size-8;
  }

  .btn--icon-xs {
    @apply size-6
    /* rounded-[min(var(--radius-md),10px)] */
    in-data-[slot=button-group]:rounded-lg
    [&_svg:not([class*='size-'])]:size-3;
  }

  .btn--icon-sm {
    @apply size-7
    /* rounded-[min(var(--radius-md),12px)] */
    in-data-[slot=button-group]:rounded-lg;
  }

  .btn--icon-lg {
    @apply size-9;
  }
}
