@import "tailwindcss";
@import "./theme.css";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  /* colors */
  /* surface */
  --surface-1: oklch(1 0 0);
  --surface-2: oklch(0.97 0 0);
  --surface-3: oklch(0.918 0 0);
  --backdrop: oklch(0.145 0 0);
  /* base */
  --foreground: oklch(0.145 0 0);
  --neutral: oklch(0.556 0 0);
  --neutral-foreground: oklch(0.556 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  /* theme */
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  /* functional */
  --input: oklch(0.922 0 0);
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  /* status */
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --success: oklch(0.58 0.22 27);
  --success-foreground: oklch(0.58 0.22 27);
  --warning: oklch(0.58 0.22 27);
  --warning-foreground: oklch(0.58 0.22 27);
  --danger: oklch(0.58 0.22 27);
  --danger-foreground: oklch(0.58 0.22 27);
  /* chart */
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
}

.dark {
  /* colors */
  /* surface */
  --surface-1: oklch(0.145 0 0);
  --surface-2: oklch(0.205 0 0);
  --surface-3: oklch(0.269 0 0);
  --backdrop: oklch(0 0 0 / 0.6);
  /* base */
  --foreground: oklch(0.985 0 0);
  --neutral: oklch(0.708 0 0);
  --neutral-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  /* theme */
  --primary: oklch(0.87 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  /* status */
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --success: oklch(0.704 0.191 142);
  --success-foreground: oklch(0.145 0 0);
  --warning: oklch(0.704 0.191 22.216);
  --warning-foreground: oklch(0.145 0 0);
  --danger: oklch(0.704 0.191 22.216);
  --danger-foreground: oklch(0.985 0 0);
  /* functional */
  --input: oklch(1 0 0 / 15%);
  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.556 0 0);
  /* chart */
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
}

@layer base {
  * {
    @apply border-border
    outline-ring/50;
  }
  body {
    @apply font-sans
    bg-surface-1
    text-foreground;
  }
  html {
    @apply font-sans;
  }
}
